<!DOCTYPE html>
<html>
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/home_style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/login_style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

  <title>Forget Password!</title>
    
</head>
 
<body class="homepage01">

  <body class="homepage01">

  <nav class="navbar-color" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="\" class="brand-logo">
        <img src="images\hometeachitlogo.png" alt="LOGO">
      </a>
      <a href="#" data-activates="nav-mobile" class="button-collapse">
        <i class="material-icons">
        menu
        </i>
      </a>
    </div>
  </nav>

  
  <div class="materialContainer update-profile-box">
    <div class="box row" style="display: inline-block;  border: 1px solid #EEE;">
      <div class="title color-green">Reset Password</div>
      <form method="POST" action="">
                    <input type="hidden" name="action" value="forgot"/>
        
            <div class="input">
              <label for="textfield_email">Email</label>
              <input class= "remove-border" type="text" id="textfield_email" name="email"/>
              <span class="spin"></span>
            </div>

            <div class="button login ">
              <button type="submit">
                <span>
                  Reset Password
                </span> 
              </button>
            </div>
      </form>
    </div>
  </div>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script src="js/index.js"></script>

</body>
</html>