<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Teach It Home Page</title>

  <!-- CSS  -->

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/home_style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
   
 <link href="css/style_cube.css" type="text/css" rel="stylesheet" media="screen,projection"/>


<script src="//content.jwplatform.com/libraries/DbXZPMBQ.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
<script src="js/modernizr.js"></script>
<script src="js/cube.js"></script>
 <script type="text/javascript" src="/js/jwplayer.js"></script>
      <script>jwplayer.key="fNMS9OobQNK60RX98PytRr3Zm8QrkDYmnapXlA==";</script>
 
</head>
<body>
 <div class="navbar-fixed" >
  <nav class="navbar-color header-home" role="navigation" id="nav-container">
    <div class="nav-wrapper container set-width">
      <a class="color-green" href="#"><img id="img-logo" class="hide-nav-items" src="images\head.png" alt="LOGO">Teach IT!</a>
      <!-- <ul class="right hide-on-med-and-down hide-nav-items" id="nav-items"> -->
      <ul class="right-push hide-on-med-and-down hide-nav-items" id="nav-items">
        <li><a href="#aboutus">About us</a></li>
         <li><a href="#contactus">Contact us</a></li>
         <li><a href="\login">Sign in</a></li>
         </ul>
      <!-- </ul> -->

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#aboutus">About us</a></li>
         <li><a href="#contactus">Contact us</a></li>
         <li><a href="\login">Sign in</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  </div>
  <div class="padding-below-nav-45" >
  <div class="carousel carousel-slider center" data-indicators="true">
<!--     <div class="carousel-fixed-item center">
      <a class="btn waves-effect white grey-text darken-text-2">button</a>
    </div> -->


  <div class="carousel-item homepage05">
    <div class="carousel-left">
    <div class=" cube-pad-top">
      <div class="cube" id="container2">
        <div class="front" id="front">  
          <div id="player1"></div>
        </div>
        <div class="back">
          <div id="player2"></div>
        </div>
        <div class="top">
          <div id="player3"></div>
        </div>
        <div class="bottom">
          <div id="player4"></div>
        </div>
        <div class="left">
          <div id="player5"></div>
        </div>
        <div class="right">
          <div id="player6"></div>
        </div>
      </div>
    </div>
    </div>
    <div class="carousel-right">
    <div class="polina">
      <h1>Spread Knowledge!</h1>
    </div>
    </div>
  </div>

        <!-- <div class="carousel-item homepage01 white-text" href="#one!">
      <h2 class="white-text carousel-div1">A platform to teach, learn and grow</h2>
    </div> -->
    <div class="carousel-item homepage07 white-text" href="#two!">
    <div class="polina-left">
      <h1>Teach what you love!</h1>
      <p class="white-text">If you have knowledge, let others light their candle in it.</p>
    </div>
    </div>
    <div class="carousel-item homepage06 white-text" href="#three!">
      <div class="polina">
        <h1>Learn at your own pace!</h1>
        <p class="white-text">Anytime, Anywhere!</p>
      </div>
    </div>
    <div class="carousel-item homepage08 white-text" href="#four!">
      <div class="polina">
        <h1>Keep Calm <br/>&amp;<br/> Donate!</h1>
        <p class="white-text">Make a Difference!!</p>
      </div>
    </div>
  </div>
  </div>

  <div class="container" id="aboutus">
    <div class="section">
       <div class="row">
        <div class="col s12">
          
          <h4 class="center teal-text">We envision a world where anyone, anywhere can transform their life by accessing the world’s best learning experience.</h4>
          <h4 class="center teal-text">Build the life you imagine through online learning.</h4>
          <h5 class="center">TeachIT is a global marketplace for learning and teaching online where students are mastering new skills and achieving their goals by learning from an extensive library of over 40,000 courses taught by passionate people. </h5>
        </div>
      </div>

    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h4 class="header col s12 light">3 simple steps to sharing knowledge</h4>
           <h4 class="header col s12 light">Register yourself -> Create a course -> Add a video</h4>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="images\image02.jpg" alt="Unsplashed background img 2"></div>
  </div>



  <div class="container" id="reviews-carousel">
    <div class="section section-size">
       <div class="row">
        <!-- <div class=""> -->
        <div class="col s1 teal-text join-community-text">
        <h3>Join the TeachIT community and grow yourself!</h3>
        </div>
        <div class="col s11">
          <div class="carousel">
            
            <div class="carousel-item">
              <div class="home-carousel-item z-depth-4">
                <div class="color-height teal lighten-2">
                  <div class="home-carousel-image-position">
                    <img src="images/user1.jpg" class="home-carousel-item-image circle"/>
                  </div>
                  <div class="home-carousel-text-position">
                    <p>“The group forums, video lectures, weekly quizzes, and monthly projects were so practical and in-depth. I honestly don't think I'd ever been so enthusiastic about learning before.”</p>
                    <p><strong>Mark Sheppard</strong><br/>Course: Tennis</p>
                </div>
                </div>
                
              </div>
            </div>

            <div class="carousel-item">
              <div class="home-carousel-item z-depth-4">
                <div class="color-height blue lighten-2">
                  <div class="home-carousel-image-position">
                    <img src="images/user2.jpg" class="home-carousel-item-image circle"/>
                  </div>
                  <div class="home-carousel-text-position">
                    <p>“The group forums, video lectures, weekly quizzes, and monthly projects were so practical and in-depth. I honestly don't think I'd ever been so enthusiastic about learning before.”</p>
                    <p><strong>Taylor Ross</strong><br/>Course: Football</p>
                </div>
                </div>
                
              </div>
            </div>

            <div class="carousel-item">
              <div class="home-carousel-item z-depth-4">
                <div class="color-height indigo darken-2">
                  <div class="home-carousel-image-position">
                    <img src="images/user3.jpg" class="home-carousel-item-image circle"/>
                  </div>
                  <div class="home-carousel-text-position">
                    <p>“The group forums, video lectures, weekly quizzes, and monthly projects were so practical and in-depth. I honestly don't think I'd ever been so enthusiastic about learning before.”</p>
                    <p><strong>James Daniels</strong><br/>Course: Big Data</p>
                </div>
                </div>
                
              </div>
            </div>

            <div class="carousel-item">
              <div class="home-carousel-item z-depth-4">
                <div class="color-height green accent-2">
                  <div class="home-carousel-image-position">
                    <img src="images/user4.jpeg" class="home-carousel-item-image circle"/>
                  </div>
                  <div class="home-carousel-text-position">
                    <p>“This program has given me credibility. The coursework has introduced me to new concepts, approaches to managing projects, ways to measure decisions, and tools for analysis”</p>
                    <p><strong>Vanessa Georg </strong><br/>Course: Cooking</p>
                </div>
                </div>
                
              </div>
            </div>

            <div class="carousel-item">
              <div class="home-carousel-item z-depth-4">
                <div class="color-height deep-orange accent-2">
                  <div class="home-carousel-image-position">
                    <img src="images/user5.jpg" class="home-carousel-item-image circle"/>
                  </div>
                  <div class="home-carousel-text-position">
                    <p>“The group forums, video lectures, weekly quizzes, and monthly projects were so practical and in-depth. I honestly don't think I'd ever been so enthusiastic about learning before.”</p>
                    <p><strong>Charlotte Stevens</strong><br/>Course: Thai</p>
                </div>
                </div>
                
              </div>
            </div>

            <div class="carousel-item">
              <div class="home-carousel-item z-depth-4">
                <div class="color-height yellow lighten-2">
                  <div class="home-carousel-image-position">
                    <img src="images/user6.jpg" class="home-carousel-item-image circle"/>
                  </div>
                  <div class="home-carousel-text-position">
                    <p>“Bundled courses with a Certificate are the way forward. The strong point of TeachIT is that you learn things that you apply directly. You demonstrate your value to your employer.”</p>
                    <p><strong>John Marsh</strong><br/>Course: Algorithms</p>
                </div>
                </div>
                
              </div>
            </div>


              <!-- <div class="card carousel-item">
                <div class="card-image">
                  <img src="images/userprofile.png">
                  <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                  <p>I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively.</p>
                </div>
              </div> -->

          </div>
        <!-- </div> -->
      </div>
      
    </div>
    </div>
  </div>

  
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h4 class="header col s12 light">Learning can't be easier than this!</h4>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="images\image05.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <div class="container">
    <div class="section" id="contactus">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
            <p class="light">
            <h2>Need more details?<br/> 
            <a href="mailto:teachit@gmail.com" class="teal-text">CONTACT US</a></h2>
  We are here to assist. Contact us by email or via our social media channels.</p>
        </div>
      </div>
    </div>
  </div>


  

  <footer class="page-footer fixed">
    
    <div>
      <div class="container">
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script type="text/javascript">
    $(window).scroll(function() {
      if ($(this).scrollTop() > 50){  
          $('#nav-container').addClass("sticky");
          $('#nav-items').removeClass("hide-nav-items");
          $('#img-logo').removeClass("hide-nav-items");
          // $('carousel-div').removeClass("padding-below-nav-108");
          // $('carousel-div').addClass("padding-below-nav-64");
      }
      else{
          $('#nav-container').removeClass("sticky");
          $('#nav-items').addClass("hide-nav-items");
           $('#img-logo').addClass("hide-nav-items");
          // $('carousel-div').removeClass("padding-below-nav-64");
          // $('carousel-div').addClass("padding-below-nav-108");
      }
    })
    $('.carousel.carousel-slider').carousel({full_width: true});

    $(document).ready(function(){
      $('.carousel').carousel();
    });

    $('a[href*="#"]:not([href="#"])').click(function() {
      if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
        if (target.length) {
          $('html, body').animate({
            scrollTop: target.offset().top-64
          }, 1000);
          return false;
        }
      }
    });
  </script>

  <script type="text/javascript">
    var r = Math.random();

jwplayer("player1").setup({
  file: "/videos/eLearningAdvantage.mp4",
  stretching: "fill",
  width: 300,
  height: 300,
  repeat: "true",
});

jwplayer("player2").setup({
  file: "/videos/edu.mp4",
  stretching: "fill",
  width: 300,
  height: 300,
  repeat: "true",
});

jwplayer("player3").setup({
  file: "/videos/changeprocess.mp4",
  stretching: "fill",
  width: 300,
  height: 300,
  repeat: "true",
});

jwplayer("player4").setup({
  file: "/videos/whatiselearning.mp4",
  stretching: "fill",
  width: 300,
  height: 300,
  repeat: "true",
});

jwplayer("player5").setup({
  file: "/videos/futureofedu.mp4",
  stretching: "fill",
  width: 300,
  height: 300,
  repeat: "true",
});

jwplayer("player6").setup({
  file: "/videos/borntolearn.mp4",
  stretching: "fill",
  width: 300,
  height: 300,
  repeat: "true",
});

jwplayer("player1").on('beforePlay', function() {
  jwplayer("player1").setMute(false);
  jwplayer("player2").setMute(true);
  jwplayer("player3").setMute(true);
  jwplayer("player4").setMute(true);
  jwplayer("player5").setMute(true);
  jwplayer("player6").setMute(true);
});

jwplayer("player1").on('play', function() {
  if (navigator.userAgent.match(/iPad/i) != null || navigator.userAgent.match(/iPhone/i) != null){
    if(jwplayer("player2").getState() == "PLAYING"){
      jwplayer("player2").pause();
    }
    if(jwplayer("player3").getState() == "PLAYING"){
      jwplayer("player3").pause();
    }
    if(jwplayer("player4").getState() == "PLAYING"){
      jwplayer("player4").pause();
    }
    if(jwplayer("player5").getState() == "PLAYING"){
      jwplayer("player5").pause();
    }
    if(jwplayer("player6").getState() == "PLAYING"){
      jwplayer("player6").pause();
    }
  }
});

jwplayer("player2").on('beforePlay', function() {
  jwplayer("player1").setMute(true);
  jwplayer("player2").setMute(false);
  jwplayer("player3").setMute(true);
  jwplayer("player4").setMute(true);
  jwplayer("player5").setMute(true);
  jwplayer("player6").setMute(true);
});

jwplayer("player2").on('play', function() {
  if (navigator.userAgent.match(/iPad/i) != null || navigator.userAgent.match(/iPhone/i) != null){
    if(jwplayer("player1").getState() == "PLAYING"){
      jwplayer("player1").pause();
    }
    if(jwplayer("player3").getState() == "PLAYING"){
      jwplayer("player3").pause();
    }
    if(jwplayer("player4").getState() == "PLAYING"){
      jwplayer("player4").pause();
    }
    if(jwplayer("player5").getState() == "PLAYING"){
      jwplayer("player5").pause();
    }
    if(jwplayer("player6").getState() == "PLAYING"){
      jwplayer("player6").pause();
    }
  }
});

jwplayer("player3").on('beforePlay', function() {
  jwplayer("player1").setMute(true);
  jwplayer("player2").setMute(true);
  jwplayer("player3").setMute(false);
  jwplayer("player4").setMute(true);
  jwplayer("player5").setMute(true);
  jwplayer("player6").setMute(true);
});

jwplayer("player3").on('play', function() {
  if (navigator.userAgent.match(/iPad/i) != null || navigator.userAgent.match(/iPhone/i) != null){
    if(jwplayer("player1").getState() == "PLAYING"){
      jwplayer("player1").pause();
    }
    if(jwplayer("player2").getState() == "PLAYING"){
      jwplayer("player2").pause();
    }
    if(jwplayer("player4").getState() == "PLAYING"){
      jwplayer("player4").pause();
    }
    if(jwplayer("player5").getState() == "PLAYING"){
      jwplayer("player5").pause();
    }
    if(jwplayer("player6").getState() == "PLAYING"){
      jwplayer("player6").pause();
    }
  }
});

jwplayer("player4").on('beforePlay', function() {
  jwplayer("player1").setMute(true);
  jwplayer("player2").setMute(true);
  jwplayer("player3").setMute(true);
  jwplayer("player4").setMute(false);
  jwplayer("player5").setMute(true);
  jwplayer("player6").setMute(true);
});

jwplayer("player4").on('play', function() {
  if (navigator.userAgent.match(/iPad/i) != null || navigator.userAgent.match(/iPhone/i) != null){
    if(jwplayer("player1").getState() == "PLAYING"){
      jwplayer("player1").pause();
    }
    if(jwplayer("player2").getState() == "PLAYING"){
      jwplayer("player2").pause();
    }
    if(jwplayer("player3").getState() == "PLAYING"){
      jwplayer("player3").pause();
    }
    if(jwplayer("player5").getState() == "PLAYING"){
      jwplayer("player5").pause();
    }
    if(jwplayer("player6").getState() == "PLAYING"){
      jwplayer("player6").pause();
    }
  }
});

jwplayer("player5").on('beforePlay', function() {
  jwplayer("player1").setMute(true);
  jwplayer("player2").setMute(true);
  jwplayer("player3").setMute(true);
  jwplayer("player4").setMute(true);
  jwplayer("player5").setMute(false);
  jwplayer("player6").setMute(true);
});

jwplayer("player5").on('play', function() {
  if (navigator.userAgent.match(/iPad/i) != null || navigator.userAgent.match(/iPhone/i) != null){
    if(jwplayer("player1").getState() == "PLAYING"){
      jwplayer("player1").pause();
    }
    if(jwplayer("player2").getState() == "PLAYING"){
      jwplayer("player2").pause();
    }
    if(jwplayer("player3").getState() == "PLAYING"){
      jwplayer("player3").pause();
    }
    if(jwplayer("player4").getState() == "PLAYING"){
      jwplayer("player4").pause();
    }
    if(jwplayer("player6").getState() == "PLAYING"){
      jwplayer("player6").pause();
    }
  }
});

jwplayer("player6").on('beforePlay', function() {
  jwplayer("player1").setMute(true);
  jwplayer("player2").setMute(true);
  jwplayer("player3").setMute(true);
  jwplayer("player4").setMute(true);
  jwplayer("player5").setMute(true);
  jwplayer("player6").setMute(false);
});

jwplayer("player6").on('play', function() {
  if (navigator.userAgent.match(/iPad/i) != null || navigator.userAgent.match(/iPhone/i) != null){
    if(jwplayer("player1").getState() == "PLAYING"){
      jwplayer("player1").pause();
    }
    if(jwplayer("player2").getState() == "PLAYING"){
      jwplayer("player2").pause();
    }
    if(jwplayer("player3").getState() == "PLAYING"){
      jwplayer("player3").pause();
    }
    if(jwplayer("player4").getState() == "PLAYING"){
      jwplayer("player4").pause();
    }
    if(jwplayer("player5").getState() == "PLAYING"){
      jwplayer("player5").pause();
    }
  }
});

function launchFullscreen(element) {
  if(element.requestFullscreen) {
  element.requestFullscreen();
  } else if(element.mozRequestFullScreen) {
  element.mozRequestFullScreen();
  } else if(element.webkitRequestFullscreen) {
  element.webkitRequestFullscreen();
  } else if(element.msRequestFullscreen) {
  element.msRequestFullscreen();
  }
  document.getElementById('container2').style.height = "600px";
  document.getElementById('container2').style.width = "600px";
  document.getElementById('front').setAttribute('style', 'transform: translateZ(500px) !important;');
  jwplayer("player1").resize(600,600);
  jwplayer("player2").resize(600,600);
  jwplayer("player3").resize(600,600);
  jwplayer("player4").resize(600,600);
  jwplayer("player5").resize(600,600);
  jwplayer("player6").resize(600,600);
}

function exitFullscreen() {
  if (document.exitFullscreen) {
    document.exitFullscreen();
  } else if (document.mozCancelFullScreen) {
    document.mozCancelFullScreen();
  } else if (document.webkitExitFullscreen) {
    document.webkitExitFullscreen();
  }
  document.getElementById('container2').style.height = "300px";
  document.getElementById('container2').style.width = "300px";
  document.getElementById('front').setAttribute('style', 'transform: translateZ(200px);');
  jwplayer("player1").resize(300,300);
  jwplayer("player2").resize(300,300);
  jwplayer("player3").resize(300,300);
  jwplayer("player4").resize(300,300);
  jwplayer("player5").resize(300,300);
  jwplayer("player6").resize(300,300);
}

document.onkeydown = function(evt) {
  evt = evt || window.event;
  if (evt.keyCode == 27) {
    exitFullscreen();
  }
};

exitFullscreen();

document.onkeyup = function(evt) {
  evt = evt || window.event;
  if (evt.keyCode == 27) {
    exitFullscreen();
  }
};

document.addEventListener("mozfullscreenchange", function () {
  if (document.mozFullScreen) {
    launchFullscreen();
  } else {
    exitFullscreen();
  }
}, false);

document.addEventListener("webkitfullscreenchange", function () {
  if (document.webkitIsFullScreen == false) {
    document.getElementById('container2').style.height = "300px";
    document.getElementById('container2').style.width = "300px";
    document.getElementById('front').setAttribute('style', 'transform: translateZ(200px);');
    jwplayer("player1").resize(300,300);
    jwplayer("player2").resize(300,300);
    jwplayer("player3").resize(300,300);
    jwplayer("player4").resize(300,300);
    jwplayer("player5").resize(300,300);
    jwplayer("player6").resize(300,300);
  }
}, false);


function GetIEVersion() {
  var sAgent = window.navigator.userAgent;
  var Idx = sAgent.indexOf("MSIE");
  if (Idx > 0) {
  return parseInt(sAgent.substring(Idx+ 5, sAgent.indexOf(".", Idx)));
  } else if (!!navigator.userAgent.match(/Trident\/7\./)) {
  return 11;
  } else {
  return 0;
  }
}

var defaultAndroid = ((navigator.userAgent.indexOf('Mozilla/5.0') > -1 && navigator.userAgent.indexOf('Android ') > -1 &&     navigator.userAgent.indexOf('AppleWebKit') > -1) && !(navigator.userAgent.indexOf('Chrome') > -1));

if(window.opera || GetIEVersion() > 0 || defaultAndroid){
  document.getElementById('container').innerHTML = '<h1 style="font-family:arial;color:#fff;text-align:center;">This is an unsupported browser!</h1>';
  document.getElementById('btns').innerHTML = '';
}

if (navigator.userAgent.match(/iPhone/i) != null || navigator.userAgent.match(/iPad/i) != null || navigator.userAgent.indexOf('Android ') > -1 || defaultAndroid){
  document.getElementById('btns').innerHTML = '';
}
// history.pushState({ page: 1 }, "title 1", "#_");
// window.onhashchange = function (event) {
//     window.location.hash = "_";
// };

  </script>
  </body>
</html>
