  <!DOCTYPE html>
  <html>
  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>Teach It Home Page</title>
 
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/home_style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

    <title>Uploader Navbar!</title>

  </head>
  <body>
    <div class="navbar-fixed">
    <nav class="nav-wrapper navbar-color pad">
      <div>
        <a id="logo-container" href="/uploader" class="brand-logo"><img src="images\hometeachitlogo.png" alt="LOGO"></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/createcourse">Create Course</a></li>
          <li><a href="/updateprofile">Update Profile</a></li>
          <li><a href="/setdonation">PayPal Details</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </nav>
    </div>
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <!-- <script src="js/init.js"></script> -->
    
  </body>
  </html>